<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>


<style>
    .explain {
        text-indent: 6em;
    }

    .urlTxt {
        font-size: 24px;
    }

</style>

<ul class="nav">


    <!--<li onclick="clickDiv('div1')">1 The Majesty of Vue.js.pdf</li>-->
    <!--<div id="div1" >-->
        <!--<div>-->
            <!--<a class="urlTxt" href="The Majesty of Vue.js.pdf" target="_blank">The Majesty of Vue.js.pdf</a>-->
            <!--&lt;!&ndash;<div class="explain">[The Majesty of Vue.js.pdf] 对应的pdf文件</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<hr style="margin: 20px 0;">-->
    <!--</div>-->

    <li onclick="clickDiv('div2')">2 chapter2</li>
    <div id="div2" hidden>
        <div>
            <a class="urlTxt" href="codes/chapter2/chapter2.html" target="_blank">chapter2</a>
            <div class="explain">显示变量, 动态绑定input给变量</div>
        </div>
        <hr style="margin: 20px 0;">
    </div>


    <li onclick="clickDiv('div3')">3 chapter3</li>
    <div id="div3" hidden>
        <div>
            <a class="urlTxt" href="codes/chapter3/3.1.html" target="_blank">3.1.html</a>
            <div class="explain">动态设置id为app的下面的变量</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter3/3.2.html" target="_blank">3.2.html</a>
            <div class="explain">用 template v-if 来设置变量为空时候, 对应的页面显示</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter3/3.3.html" target="_blank">3.3.html</a>
            <div class="explain">用 v-if,  v-else 来设置变量为空时候的页面</div>
        </div>
        <hr style="margin: 20px 0;">
    </div>

    <li onclick="clickDiv('div4')">4 chapter4</li>
    <div id="div4" hidden>
        <div>
            <a class="urlTxt" href="codes/chapter4/4.2.html" target="_blank">4.2.html</a>
            <div class="explain">v-for循环设置页面 (页面用的bootstrap)</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter4/4.3.0.html" target="_blank">4.3.0.html</a>
            <div class="explain"> v-for 循环 数据中, 数组的内容</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter4/4.3.1.html" target="_blank">4.3.1.html</a>
            <div class="explain">v-for="(inVar, index) in outVars"  遍历数组中对应的每个对象</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter4/4.4.html" target="_blank">4.4.html</a>
            <div class="explain">v-for="(value, key, index) in outVars" 遍历数组中的每个对象</div>
        </div>
        <hr style="margin: 20px 0;">
    </div>


    <li onclick="clickDiv('div5')">5 chapter5</li>
    <div id="div5" hidden>
        <div>
            <a class="urlTxt" href="codes/chapter5/5.1.2.html" target="_blank">5.1.2.html</a>
            <div class="explain">v-on:click ,调用methods 动态修改变量 (页面用的bootstrap)</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter5/5.2.html" target="_blank">5.2.html</a>
            <div class="explain"> v-model 双向绑定, methods, 简单实现 计算器</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter5/5.4.html" target="_blank">5.4.html</a>
            <div class="explain">v-model 双向绑定,用computed直接计算 (注意methods 和 computed的区别)</div>
        </div>
        <hr style="margin: 20px 0;">
    </div>

    <li onclick="clickDiv('div6')">6 chapter6</li>
    <div id="div6" >
        <div>
            <a class="urlTxt" href="codes/chapter6/6.1.html" target="_blank">6.1.html</a>
            <div class="explain">v-for="story in methodName('var')" 调用方法获得list (页面用的bootstrap)</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter6/6.2.html" target="_blank">6.2.html</a>
            <div class="explain"> v-for调用的方法, 用sort方法排序 (感觉和java的接口类似, 写内置方法)</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter6/6.3.html" target="_blank">6.3.html</a>
            <div class="explain">xxx</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter6/6.4.html" target="_blank">6.4.html</a>
            <div class="explain">xxx</div>
        </div>
        <div>
            <a class="urlTxt" href="codes/chapter6/6.5.html" target="_blank">6.5.html</a>
            <div class="explain"> xxx</div>
        </div>
        <hr style="margin: 20px 0;">
    </div>

</ul>

<script type="text/javascript">

    function clickDiv(name) {
        if($("#"+name).is(':visible')){
            $("#"+name).hide(300);
        }else{
            $("#"+name).show(300);
        }
    }
</script>
